<div class="sort-container pl-3">
  <div class="sort-inner-container mb-4 mt-3">
    <a href="javascript:void(0)" class="sort-btn" (click)="doSort('ASC')">
      <i class="fas fa-sort-amount-up"></i>
    </a>
    <p class="font-weight-bold">low</p>
  </div>
  <div class="sort-inner-container mb-4">
    <a href="javascript:void(0)" class="sort-btn" (click)="doSort('DESC')">
      <i class="fas fa-sort-amount-down"></i>
    </a>
    <p class="font-weight-bold">high</p>
  </div>
  <div class="sort-inner-container mb-4">
    <i class="far fa-gem"></i>
    <p class="font-weight-bold">value</p>
  </div>
</div>
