<div class="sort-container px-3 pt-3">
  <div class="sort-inner-container mb-4">
    <a href="javascript:void(0)" class="sort-btn" (click)="doSort('ASC')">
      <!--i class="fas fa-sort-amount-up"></i-->
      <img class="mr-4" src="../../../assets/images/step-six/sort_amount_down.png" width="22">
    </a>
    <p class="font-weight-bold">low</p>
  </div>
  <div class="sort-inner-container mb-4">
    <a href="javascript:void(0)" class="sort-btn" (click)="doSort('DESC')">
      <!--i class="fas fa-sort-amount-down"></i-->
      <img class="mr-4" src="../../../assets/images/step-six/sort_amount_up.png" width="22">
    </a>
    <p class="font-weight-bold">high</p>
  </div>
  <div class="sort-inner-container mb-4">
    <a href="javascript:void(0)" class="sort-btn" (click)="doSort('VALUE')">
      <!--i class="far fa-gem"></i-->
      <img class="mr-4" src="../../../assets/images/step-six/value.png" width="22">
    </a>
    <p class="font-weight-bold">value</p>
  </div>
</div>
