<div class="container">
  <div class="row">
    <h1>Here are your quotes...</h1>
    <div (filter)="doFilter($event)" class="col-lg-12 col-md-12 col-12 pl-4">
      <div class="col-lg-12 col-md-12">
        <app-price-filter (filter)="doFilter($event)" [hidden]="true"></app-price-filter>
      </div>
      <div class="row mt-5" [ngClass]="viewmode == 'Grid' ? 'gridview' : 'listview'">
        <ng-container *ngFor="let insurance of filteredInsurances">
          <app-price-widget
            *ngIf="insuranceImgs[insurance.type].length > 0"
            [className]="viewmode == 'Grid' ? gridpriceWidgetCommonClass : listpriceWidgetCommonClass"
            [price]="insurance.price"
            [imgURL]="insuranceImgs[insurance.type]"
            [name]="insurance.name"
            [bgColor]="bgColor[insurance.type]"
            [dwelling]="insurance.dwelling"
            (openModal)="setModalData(insurance)"
          ></app-price-widget>
        </ng-container>
        <app-price-loader [className]="priceLoaderCommonClass" *ngIf="!showNationWide"></app-price-loader>
        <app-price-loader [className]="priceLoaderCommonClass" *ngIf="!showMetlife"></app-price-loader>
        <app-price-loader [className]="priceLoaderCommonClass" *ngIf="!showTravellers"></app-price-loader>
        <app-price-loader [className]="priceLoaderCommonClass" *ngIf="universalLoader"></app-price-loader>
        <app-price-loader [className]="priceLoaderCommonClass" *ngIf="plymouthLoader"></app-price-loader>
        <app-price-loader [className]="priceLoaderCommonClass" *ngIf="libertyLoader"></app-price-loader>
        <app-price-loader [className]="priceLoaderCommonClass" *ngIf="progressiveLoader"></app-price-loader>
        <app-price-loader [className]="priceLoaderCommonClass" *ngIf="stillwaterLoader"></app-price-loader>
        <app-price-loader [className]="priceLoaderCommonClass" *ngIf="hippoLoader"></app-price-loader>
        <div class="col-md-12 mt-5 mb-5 form-row" *ngIf="filteredInsurances.length == 0 && allDataLoaded()">
          <h1 class="mx-auto font-weight-bold">No data exist.</h1>
        </div>
      </div>
      <div class="row">
        <!--Price details modal-->
        <app-price-details-modal [showModal]="showModal" (bindNow)="bindNow()" (showChatWidget)="showChatWidget($event)" [modalData]="modalData"></app-price-details-modal>
        <div class="col-md-8 offset-md-2 col-12 chatWidget animated fadeIn" *ngIf="showChat && !commonService.isMobileMode()">
          <div class="form-row">
            <img [src]="insuranceImgs[chatType]" class="mx-auto price-image" />
          </div>
          <div class="chat-container" style="margin-bottom: 50px">
            <div class="form-row">
              <h2 class="text-black pt-3 font-weight-bold mx-auto text-center">{{ chatPricing | currency: "USD":"symbol":"1.0-0" }}</h2>
            </div>
            <div class="form-row loader" style="margin-top: 100px">
              <div class="sbl-circ-path mx-auto"></div>
            </div>
            <div id="olark-box-container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
