@import '../../assets/styles/variables';

.chatWidget {
  margin-top: 50px;

  .form-row {
    min-height: auto !important;
    img {
      width: 40%;
      height: 40%;
    }
  }
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.send-btn {
  background-color: $primary-color !important;

  i {
    color: #fff !important;
  }
}

.chat-btn {
  height: 90px;
  width: 140px;
  display: inline-block;
  font-size: 15px;
  background: $primary-color !important;
  border-radius: 5px !important;
  color: #fff;
}
@media screen and (max-width: 780px) {
  .container {
    flex-direction: column;
  }

  .prices-container {
    margin-top: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and  (max-width: 450px) {
  .prices-container {
    margin-top: 10px !important;
  }
}

.form-row {
  min-height: 100px;
}


.drag-compare {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid darkgrey !important;

  p {
    font-size: 20px;

    @media screen and (max-width: 1202px) {
      font-size: 18px;
    }
  }

  i {
    margin: 0 auto;
    color: rgb(192, 192, 192, 0.4);
  }
}

@media screen and (max-width: 1009px) {
  .drag-compare {
    display: none;
  }
}
