@import "../../assets/styles/variables";

.chatWidget {
  margin-top: 50px;

  .form-row {
    min-height: auto;
    img {
      width: 40%;
      height: 40%;
    }
  }
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.send-btn {
  background-color: $primary-color;

  i {
    color: #fff;
  }
}

.chat-btn {
  height: 90px;
  width: 168px;
  display: inline-block;
  font-size: 15px;
  background: $primary-color;
  border-radius: 5px;
  color: #fff;
}
@media screen and (max-width: 780px) {
  .container {
    flex-direction: column;
  }

  .prices-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-btn {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .prices-container {
    margin-top: 10px;
  }
}

.form-row {
  min-height: 100px;
}

.drag-compare-wrapper {
  .drag-compare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 20px;

      @media screen and (max-width: 1202px) {
        font-size: 18px;
      }
    }

    i {
      margin: 0 auto;
      border: 3px dotted #f43c58;
      padding: 30px;
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 1009px) {
  .drag-compare {
    display: none;
  }
}

mdb-badge {
  background-color: $lightgray;
  color: $primary-secondary-color !important;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;

  img {
    width: 1.5rem;
  }
}

.listview {
  flex-wrap: initial;
  max-width: 100%;
  overflow-x: auto;
  flex-direction: row;
  overflow-y: hidden;
  position: relative;
}

app-price-widget {
  background: #fcfcfc;

  @include mq($until: tablet) {
    font-size: 70%;
  }
}
