@import '../../../assets/styles/variables';
.swipeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px !important;

  swiper {
    width: 100%;
    height: 60px;
    border: 3px solid $primary-color !important;
    border-radius: 10px !important;
    animation: shadow-pulse 1s infinite;

    .swiper-wrapper {
      border-radius: 10px;

      .swiper-slide {
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .first {
        border-radius: 10px 0 0 10px;
        background-color: $primary-color;
        color: #fff;
      }

      .last {
        border-radius: 10px;
        color: #000;

        .left-edge {
          background-color: $primary-color;
          color: #fff;
          width: 16%;
          height: 70px;
          position: absolute;
          z-index: 10000;
          left: -2px;
          display: flex;
          align-items: center;
          justify-content: center;

          .arrow {
            animation-name: fade;
            animation-duration: 1s;
            animation-direction: alternate-reverse;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
          }

          @keyframes fade {
            from{ opacity: 0;}
            to{ opacity: 100;}
          }
        }

        .swipe-txt {
          font-weight: 400;
          font-size: 1rem;
        }
      }

      .first, .last {
        padding-top: 6px !important;
        padding-bottom: 6px !important;

        p {
          text-align: center;
          margin: 0 0 0 50px;
          font-size: 1.2em;
        }
      }
    }
  }
}
