<div class="container" style="margin-bottom: 100px">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="title">what claims can you cover on a homeowners policy</div>
      <div class="claim-wrapper mb-1">
        <div class="claim-item">
          <img src="../../../assets/images/claims/fire.png"/>
          <p>fire</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/wind.png"/>
          <p>wind</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/storms.png"/>
          <p>storms</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/freeze.png"/>
          <p>freeze</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/liabilities.png"/>
          <p>liabilities</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/loss_of_rents.png"/>
          <p>loss of rents</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/personal_property.png"/>
          <p>personal property</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/stolen_property.png"/>
          <p>stolen property</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/burst_pipes.png"/>
          <p>burst_pipes</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/roof_damage.png"/>
          <p>roof damage</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/swimming_pool.png"/>
          <p>swimming pool</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/hail.png"/>
          <p>hail</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/drain_backup.png"/>
          <p>drain backup</p>
        </div>
        <div class="claim-item">
          <img src="../../../assets/images/claims/hurricane.png"/>
          <p>hurricane</p>
        </div>
      </div>
    </div>
  </div>
</div>
