<div class="h1-container">
  <div class="h1-opacity">
    <h1 class="contact-h1">About Us</h1>
  </div>
</div>
<div class="container">
  <div class="inner-container">

    <h3>What We Do</h3>
    <p> <span>SwypeCov</span> Insurance helps you find the best prices for your insurance
      needs with just a Swype! Our purpose is to get you the most comprehensive quote as quick as possible, so we
      use data from all of the best insurance providers to help you get the best rate on the market.</p>

    <div class="carriers-outer-container">
      <div class="carriers-inner-container">
        <div class="carriers-inner-container2">
          <a href="https://www.libertymutual.com/">
            <img src="../../assets/images/companies/LMALT.png" alt="" class="carrier-img">
          </a>
          <a href="https://www.metlife.com/">
            <img src="../../assets/images/companies/metlife.jpg" alt="" class="carrier-img">
          </a>
          <a href="https://www.nationwide.com/">
            <img src="../../assets/images/companies/nationwide logo.png" alt="" class="carrier-img">
          </a>
        </div>
        <div class="carriers-inner-container2 carriers-inner-container2-2">
          <a href="https://www.stateauto.com/">
            <img src="../../assets/images/companies/State auto.png" alt="" class="carrier-img">
          </a>
          <a href="https://www.progressive.com/">
            <img src="../../assets/images/companies/progressive logo.png" alt="" class="carrier-img">
          </a>
        </div>
      </div>
      <div class="carriers-inner-container">
        <div class="carriers-inner-container2 carriers-inner-container2-2">
          <a href="https://www.travelers.com/">
            <img src="../../assets/images/companies/TravelersALT.png" alt="" class="carrier-img">
          </a>
          <a href="https://universalproperty.com/">
            <img src="../../assets/images/companies/universal .png" alt="" class="carrier-img">
          </a>
        </div>
        <div class="carriers-inner-container2">
          <a href="https://www.plymouthrock.com/">
            <img src="../../assets/images/companies/plymouthrock-1.jpeg" alt="" class="carrier-img">
          </a>
          <a href="https://stillwaterinsurance.com/">
            <img src="../../assets/images/companies/stillwater.png" alt="" class="carrier-img">
          </a>
          <a href="https://neptuneflood.com/">
            <img src="../../assets/images/companies/neptune-logo_newfont.svg" alt="" class="carrier-img">
          </a>
        </div>
      </div>
    </div>

    <h3>Who We Are</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, nihil? Illo autem iusto exercitationem culpa
      quam delectus tenetur deleniti, cumque id similique dignissimos corrupti deserunt pariatur earum ipsum dicta dolor
      quasi fuga labore aliquam dolores? Sapiente, consectetur sed sequi cumque, dignissimos mollitia ratione labore,
      asperiores voluptatibus distinctio eaque magnam esse.</p>


    <h3>Headquarters</h3>
    <p class="text-center">100 Campbell Blvd, Exton,PA,19341</p>

    <h3>Additional Office Locations</h3>
    <p class="text-center">2200 Western Ave, Suite 200, Exton, PA 98121</p>
    <p class="text-center">2200 Western Ave, Suite 200, Westchester, PA 98121</p>
    <p class="text-center">2200 Western Ave, Suite 200, Philadelphia, PA 98121</p>

    <h3>More Information about us</h3>
    <p class="text-center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus veniam deserunt et ut? Explicabo
      accusantium facilis vitae molestias iusto ea dignissimos, voluptatum eligendi quidem ab tempore! Sequi a velit
      doloremque ut? Totam laboriosam eveniet ex!
    </p>

    <p class="text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum totam suscipit labore in iure, commodi
      reiciendis molestiae unde ipsa possimus consectetur cum omnis iste nobis optio voluptates fugit dolor architecto!
    </p>

  </div>
</div>
