<div class="row pt-3">
  <div [ngClass]="selectedTab === 'coverages' ? 'selected' : ''" class="col-md-5 offset-md-1 col-6 text-center" (click)="selectedTab = 'coverages'">coverages</div>
  <div [ngClass]="selectedTab === 'features' ? 'selected' : ''" class="col-md-5 col-6 text-center" (click)="selectedTab = 'features'">features</div>
</div>
<div class="row pt-1 pb-2 info-board">
  <div class="col-md-10 offset-md-1">
    <table *ngIf="selectedTab === 'coverages'" class="w-100 mt-4 mb-3">
      <tr class="bg-grey">
        <td class="text-left">Home Coverage <span class="text-black" *ngIf="!commonService.isMobileMode() && !hideTableDescription"> (also known as Coverage A) - used to rebuild your home in the event of complete damage.)</span></td>
        <td class="">{{ coverage_a | number }}</td>
      </tr>
      <tr>
        <td class="text-left">Extended Replacement Cost<span class="text-black" *ngIf="!commonService.isMobileMode() && !hideTableDescription"> - addtional coverage for rebuilding your house if the cost of doing so is higher than normal market prices.</span></td>
        <td class="">25%</td>
      </tr>
      <tr class="bg-grey">
        <td class="text-left">Other Structures <span class="text-black" *ngIf="!commonService.isMobileMode() && !hideTableDescription"> ( Coverage B) - used to rebuild other structures on your property, such as a detached garage, fence, pool, shed.</span></td>
        <td class="">{{ coverage_b | number }}</td>
      </tr>
      <tr>
        <td class="text-left">
          Personal Property<span class="text-black" *ngIf="!commonService.isMobileMode() && !hideTableDescription"> ( Coverage C) - replaces your personal items during a covered claim. This could be furniture, electronics, clothing and more! </span>
          <span *ngIf="!commonService.isMobileMode() && !hideTableDescription">Replacement Cost - YES</span>
        </td>
        <td class="">{{ personal_property | number }}</td>
      </tr>
      <tr class="bg-grey">
        <td class="text-left">Liability <span class="text-black" *ngIf="!commonService.isMobileMode() && !hideTableDescription"> ( Coverage E) - covers bodiliy injury or harm to others which you or your family are responsible for.</span></td>
        <td class="">500,000</td>
      </tr>
      <tr class="">
        <td class="text-left">Loss of Use <span class="text-black" *ngIf="!commonService.isMobileMode() && !hideTableDescription">( Coverage D) - covers living expenses as your home is being rebuilt or repaired.</span></td>
        <td class="">{{ coverage_d | number }}</td>
      </tr>
      <tr class="bg-grey">
        <td class="text-left">Medical <span class="text-black" *ngIf="!commonService.isMobileMode() && !hideTableDescription"> Water Sewer Backup, Mortgage Protection, Sewer Line Coverage, Home Systems</span></td>
        <td class="">
          <div>5,000</div>
          <!-- <div class="text-smaller">(add these before you finalize)</div> -->
        </td>
      </tr>
    </table>
    <table *ngIf="selectedTab === 'features'" class="w-100 mt-4 mb-3">
      <tr class="bg-grey">
        <td class="text-left">Features Tab1 <span class="text-black" *ngIf="!commonService.isMobileMode() && !hideTableDescription"> (also known as Coverage A) - used to rebuild your home in the event of complete damage.)</span></td>
        <td class="">{{ coverage_a | number }}</td>
      </tr>
    </table>
  </div>
</div>
