@import "../../../assets/styles/variables";
.modal-btns {
  width: 100%;
  color: #000;

  border-radius: 5px;
  box-shadow: none;

  .img-wrapper {
    img {
      width: 100%;
      max-width: 180px;
      height: auto;
      height: 70px;
      object-fit: contain;
    }
    .universal-img {
      width: 140px;
    }
    .liberty-mutual {
      width: 140px;
      margin-bottom: 16px;
    }
  }
  .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    img {
      width: 20px;
    }
  }

  .bindnow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    i {
      color: #4caf50;
    }
    p {
      color: #000;
      text-decoration: underline #4caf50;
    }
  }

  .buy-now {
    border-radius: 30px;
    border: 1px solid $gray1;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      background: $gray;
      color: $white;
      box-shadow: 1px 2px 20px 2px lightgray;

      i {
        color: $white;
      }
    }

    i {
      font-size: 30px;
      color: $gray;
      transition: all 0.3s ease-in;
    }
  }

  .dwelling-coverage {
    text-align: center;
  }
}

.modal-btns.btn:hover {
  .card {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
  }
}

@media screen and (max-width: 1200px) {
  .modal-btns {
    height: 180px;

    .img-wrapper {
      .liberty-mutual {
        width: 120px;
      }
    }
    .price-num-container {
      h3 {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .modal-btns {
    height: 160px;
  }
}

@media screen and (max-width: 768px) {
  .modal-btns {
    .price-num-container {
      h3 {
        font-size: 1rem;
      }
    }
  }

  .img-wrapper {
    h1 {
      font-size: 1.5rem;
    }
  }
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

:host ::ng-deep .card-body {
  padding: 1rem 2rem 1rem 0;
  font-weight: bold;
  background: $lightgray;

  @include mq($until: tablet) {
    padding: 0.5rem 1rem 0.5rem 0;
  }
}

:host ::ng-deep .card {
  border: none;
  border-radius: 1.5rem;
  overflow: hidden;

  @include mq($until: tablet) {
    border-radius: 0.5rem;
  }
}

.price-num-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
