<div class="relative waves-light p-2 modal-btns" mdbWavesEffect>
  <div class="row grid-price-widget">
    <div class="col d-flex">
      <div class="img-wrapper">
        <img [src]="imgURL" />
      </div>
      <div class="price-num-container">
        <div>Progressive</div>
        <h4 class="text-white mb-md-4 mb-2 font-weight-bold text-lowercase text-center">
          {{ price | currency: "USD":"symbol":"1.0-0" }}
        </h4>
      </div>
    </div>
  </div>

  <div class="card list-price-widget h-100 bg-transparent">
    <div class="card-horizontal h-100 d-flex flex-column">
      <div class="img-wrapper d-flex h-100 flex-column">
        <div class="price-num-container flex-row">
          <img [src]="imgURL" />
        </div>
        <div class="d-flex align-items-center my-md-3 my-0">
          <h1 class="text-black pt-1 font-weight-bold text-lowercase text-center mx-auto">
            {{ price | currency: "USD":"symbol":"1.0-0" }}
          </h1>
        </div>
      </div>

      <div class="d-flex font-weight-bold">
        <div class="mt-2 mx-3 text-center d-flex flex-column mx-auto">
          <div class="text-black font-weight-bold dwelling-coverage mb-2 desc">{{ dwelling | number: "1.0-0" }} dwelling coverage</div>
          <div class="desc">1k Deductible</div>
          <div class="desc">500k Liability</div>
          <div class="desc">228k Contents</div>
          <div class="mb-5 desc">+ more coverages</div>
          <div class="d-flex buy-now mx-auto pl-3 pr-4 py-2 mb-4" (click)="openModal()"><img src="../../../assets/images/SVG/shopping-cart.svg" /> <span class="ml-3 h4 mb-0">buy</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
