<div type="button" mdbBtn class="relative waves-light p-2 modal-btns" (click)="openModal()" mdbWavesEffect>
  <div class="row grid-price-widget">
    <div class="col d-flex">
      <div class="img-wrapper">
        <img [src]="imgURL" />
      </div>
      <div class="price-num-container">
        <div>Progressive</div>
        <h4 class="text-white mb-md-4 mb-2 font-weight-bold text-lowercase text-center">
          {{ price | currency: "USD":"symbol":"1.0-0" }}
        </h4>
      </div>
    </div>
  </div>

  <div class="card list-price-widget h-100">
    <div class="card-horizontal h-100">
      <div class="img-wrapper d-flex h-100" [style.border-color]="bgColor" [style.background]="bgColor">
        <div class="d-flex align-items-center ml-2">
          <img [src]="imgURL" />
        </div>
        <div class="price-num-container ml-2 mr-md-5 mr-2">
          <div class="text-white text-capitalize mb-md-4 mb-2">{{ name }}</div>
          <h4 class="text-white pt-1 font-weight-bold text-lowercase text-center mb-0">
            {{ price | currency: "USD":"symbol":"1.0-0" }}
          </h4>
        </div>
      </div>

      <div class="card-body d-flex">
        <div class="">
          <div class="mt-2 mx-3 text-left d-md-block d-none">
            <div>1k Deductible</div>
            <div>500k Liability</div>
            <div>228k Contents</div>
            <div>+more coverages</div>
          </div>
        </div>
        <div class="ml-auto">
          <div class="text-black font-weight-bold text-capitalize text-center text-smaller dwelling-coverage">dwelling coverage</div>
          <div class="price-num-container">
            <h5 class="text-black pt-2 font-weight-bold text-lowercase text-center mb-0">{{ dwelling | number: "1.0-0" }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
