<!-- Image and text -->
<mdb-navbar SideClass="container-fluid navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [ngClass]="!commonService.isMobileMode() ? 'red navbar-dark' : 'white  navbar-light'" [containerInside]="false">
  <a href="/" class="site-logo"><img style="width: 3rem" src="../../assets/images/SVG/boom-icon.svg" /></a>
  <links *ngIf="!commonService.isMobileMode()" class="pr-5">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="/step1" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="/about" mdbWavesEffect>About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="/contact" mdbWavesEffect>Contact</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="/retrieve" mdbWavesEffect>Retrieve
          Quote</a>
      </li> -->
      <!-- <li class="nav-item" routerLinkActive="active" *ngIf="!commonService.isMobileMode()">
        <div class="phone-area">
          <a href="tel:+16108641155" class="text-white"><span><i class="fa fa-phone-alt"></i>Call</span></a>
        </div>
      </li> -->

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="/step1" mdbWavesEffect>quotes</a>
      </li>
      <li class="nav-item mr-5" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="/step1" mdbWavesEffect>about</a>
      </li>
    </ul>
  </links>
  <div id="gif_div" class="mr-2">
    <a href="/" class="site-logo"><img src="../../assets/images/SVG/ezgif.com-crop.gif" /></a>
  </div>
</mdb-navbar>

<!-- <app-sub-header></app-sub-header> -->
<div class="main pt-md-2 pt-1" [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
  <!--<div class="main" [ngStyle]="{minHeight:mainHeight+'px'}">-->
  <router-outlet #o="outlet"></router-outlet>
</div>
<!---->
<!-- Footer -->
<!-- === Curved Background  ===-->
<div class="footer-svg-curve footerFlag" *ngIf="isShowFooter">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 315" viewport-fill="#2A354C" style="stroke-width: 0px; background-color: #fff">
    <path
      fill="#2A354C"
      fill-opacity="1"
      d="M0,192L60,181.3C120,171,240,149,360,154.7C480,160,600,192,720,224C840,256,960,288,1080,293.3C1200,299,1320,277,1380,266.7L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
      data-darkreader-inline-fill=""
      style="--darkreader-inline-fill: #2a354c"
    ></path>
  </svg>
</div>
<!-- === Curved Background  ===-->
<footer class="font-small footerFlag" style="background-color: #2a354c" *ngIf="isShowFooter">
  <div style="background-color: #2a354c">
    <div class="container">
      <div class="row py-4 d-flex align-items-center"></div>
    </div>
  </div>
  <div class="container text-center text-md-left mt-2" style="background-color: #2a354c">
    <div class="row mt-1">
      <div class="info-links-container">
        <p class="text-center flex-container" routerLinkActive="active">
          <a class="footer-links" routerLink="/about">About Us</a>
        </p>
        <p class="text-center flex-container" routerLinkActive="active">
          <a class="footer-links" routerLink="/contact">Contact Us</a>
        </p>
        <p class="text-center flex-container">
          <a class="footer-links" href="#">FAQ's</a>
        </p>
        <p class="text-center flex-container">
          <a class="footer-links" href="#">Info</a>
        </p>
        <p class="text-center flex-container">
          <a class="footer-links" href="#">Ask an Agent</a>
        </p>
      </div>
      <div class="carriers-container">
        <h6>Insurance Carriers</h6>
        <div class="carrier-links-outer-container">
          <div class="carrier-links-inner-container1">
            <p class="text-center flex-container">
              <a class="footer-links" href="https://www.libertymutual.com/">Liberty Mutual</a>
            </p>
            <p class="text-center flex-container">
              <a class="footer-links" href="https://www.metlife.com/">MetLife</a>
            </p>
            <p class="text-center flex-container">
              <a class="footer-links" href="https://www.progressive.com/">Progressive</a>
            </p>
            <p class="text-center flex-container">
              <a class="footer-links" href="https://www.nationwide.com/">Nationwide</a>
            </p>
            <p class="text-center flex-container">
              <a class="footer-links" href="https://www.stateauto.com/">State Auto</a>
            </p>
          </div>

          <div class="carrier-links-inner-container2">
            <p class="text-center flex-container">
              <a class="footer-links" href="https://www.travelers.com/">Travelers</a>
            </p>
            <p class="text-center flex-container">
              <a class="footer-links" href="https://www.plymouthrock.com/">Plymouth Rock</a>
            </p>
            <p class="text-center flex-container">
              <a class="footer-links" href="https://universalproperty.com/">Universal</a>
            </p>
            <p class="text-center flex-container">
              <a class="footer-links" href="https://stillwaterinsurance.com/">Still Water</a>
            </p>
            <p class="text-center flex-container">
              <a class="footer-links" href="https://neptuneflood.com/">Neptune</a>
            </p>
          </div>
        </div>
      </div>

      <div class="social-links-outer-container">
        <h6 class="text-center">Follow us on</h6>
        <div class="social-links-inner-container">
          <p class="text-center">
            <a class="footer-links" href="#"><i class="fab fa-facebook fa-2x"></i></a>
          </p>
          <p class="text-center">
            <a class="footer-links" href="#"><i class="fab fa-twitter fa-2x"></i></a>
          </p>
          <p class="text-center">
            <a class="footer-links" href="#"><i class="fab fa-instagram fa-2x"></i></a>
          </p>
          <p class="text-center">
            <a class="footer-links" href="#"><i class="fab fa-linkedin fa-2x"></i></a>
          </p>
        </div>
      </div>
      <img class="footer-img" src="../assets/images/buildings/med.jpg" width="150" height="150" style="border-radius: 50%" />
    </div>
    <p class="text-center copyright-txt">
      &copy; 2020 SwypeCov Insurance. All Rights Reserved. Use of SwypeCov is subject to our <span><a class="copyright-link" href="#">Terms of Service </a></span> & <span><a class="copyright-link" href="#"> Privacy Policy</a></span>
    </p>
  </div>
</footer>
<!-- Footer -->
