@import "../assets/styles/variables";

mdb-navbar.navbar {
}

.phone-area {
  background: #000;
  border-radius: 4px;
  padding: 3px 10px;
  display: flex;
  align-items: center;

  i {
    padding-right: 8px;
  }
}

mdb-navbar-brand {
  height: auto;
  width: auto;

  h4 {
    span {
      color: $primary-color;
    }
  }

  .arrow-btn {
    background-color: $primary-color;
  }

  .arrow-btn:hover {
    color: #fff !important;
  }
}

#logo_gif {
  border-left: 1px solid #cccccc;
}

ul.navbar-nav {
  li:not([class^="quoteBtn"]) {
    margin-top: 5px !important;
  }

  .nav-item.active > .nav-link {
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
    background-color: transparent !important;
  }

  .nav-item {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    display: flex;

    .nav-link {
      color: #000 !important;
    }
    .nav-link:visited {
      color: #000 !important;
    }

    .nav-link:after {
      content: "";
      width: 0px;
      height: 2px;
      display: block;
      background-color: $primary-color;
      transition: 300ms;
      color: $primary-color;
    }

    .nav-link:hover:after {
      width: 100%;
    }
  }

  .quoteBtn {
    margin-top: 3px;
    @media screen and (min-width: 768px) {
      width: calc(100% - 325px);
      button {
        float: right;
      }
    }

    button {
      border-radius: 10px !important;
      padding: 6px 30px !important;
      font-size: 15px !important;
    }
  }
}

body {
  font-family: $primary-font !important;
}

footer {
  color: #fff !important;

  a {
    color: #fff !important;
  }

  a:visited {
    color: #fff !important;
  }

  // Keeps the hover animation width the same width as the text
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-links:after {
    content: "";
    width: 0px;
    height: 2px;
    display: block;
    background-color: $primary-color;
    transition: 300ms;
    color: $primary-color;
  }

  .footer-links:hover:after {
    width: 100%;
  }

  .info-links-container {
    margin: 45px 30px auto auto !important;
  }

  @media screen and(max-width: 768px) {
    .info-links-container {
      margin: 0 auto 45px auto !important;
    }
  }

  .carriers-container {
    margin: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .carrier-links-outer-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: top;
      min-width: 255px;
      margin-top: 5px;

      h6 {
        position: absolute;
        top: 0;
      }

      .carrier-links-inner-container1 {
        margin-right: 30px;
      }
      .carrier-links-inner-container2 {
        margin-left: 30px;
      }
    }
  }

  @media screen and(max-width: 768px) {
    .carriers-container {
      margin-bottom: 45px !important;
      width: 100% !important;
    }
  }

  .footer-img {
    margin: auto;
  }
}

.social-links-outer-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: top;
  align-items: center;
  margin: 0 auto;
  .social-links-inner-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;

    p {
      margin: 10px;
    }
  }
}

@media screen and(max-width: 431px) {
  .social-links-outer-container {
    width: 100% !important;
    margin-bottom: 45px !important;
  }
}

.copyright-txt {
  margin: 0 !important;
  padding: 25px 10px !important;

  span {
    display: inline-flex;
    // width: 103px;

    .copyright-link {
      font-weight: 500;
    }

    .copyright-link:after {
      content: "";
      width: 0px;
      height: 2px;
      display: block;
      background-color: $primary-color;
      transition: 300ms;
      color: $primary-color;
    }

    .copyright-link:hover:after {
      width: 100%;
    }

    .copyright-link:visited {
      color: #fff;
    }
  }
}

@media screen and (max-width: 991px) {
  #navQuoteBtn {
    float: left !important;
    padding-left: 7px !important;
  }
  nav {
    background-color: white !important;
  }
}

@media screen and (max-width: 768px) {
  .site-logo {
    img {
      width: 3rem !important;
      height: 36px;
      object-fit: contain;
      padding-top: 3px;
    }
  }
}
