@import "../../../assets/styles/variables";

$font-family: Roboto;
.map-container {
  opacity: 0.2;
  width: 100%;
  height: 40rem;

  agm-map {
    width: 100%;
    height: 100%;
  }

  .overlay {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    margin-top: -40rem;
    background: linear-gradient(180deg, #fafafa 50%, #fdfdfd 100%);
  }
}

.container {
  font-family: $font-family;
  position: absolute;
  top: 100px;
  z-index: 1020;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  #nextBtn {
    left: 300px;
  }

  @media screen and (max-width: 1800px) {
    #nextBtn {
      left: 200px;
    }
  }

  @media screen and (max-width: 1600px) {
    #nextBtn {
      left: 150px;
    }
  }

  @media screen and (max-width: 1500px) {
    #nextBtn {
      left: 120px;
    }
  }

  @media screen and (max-width: 1428px) {
    #nextBtn {
      left: 100px;
    }
  }

  @media screen and (max-width: 1378px) {
    #nextBtn {
      left: 80px;
    }
  }

  @media screen and (max-width: 1328px) {
    #nextBtn {
      left: 50px;
    }
  }

  @media screen and (max-width: 1250px) {
    #nextBtn {
      left: 20px;
    }
  }

  @media screen and (max-width: 998px) {
    #nextBtn {
      left: 0px;
    }
  }

  .loader {
    @media screen and (max-width: $mobile-width) {
      padding-top: 50px !important;
    }

    .preloader-wrapper .spinner-red-only {
      border-color: #db4437 !important;
    }
  }

  .bg-white {
    border-radius: 5%;
    opacity: 0.9;

    .send-btn:hover {
      opacity: 0.8;
    }

    .cost {
      color: #ee3722;
      font-size: 20px;
    }

    .target {
      font-size: 10px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .target-img {
      margin-top: 2px;
      animation: orbit 2s linear infinite;
    }

    @-webkit-keyframes orbit {
      from {
        transform: rotate(0deg) translateX(2px) rotate(0deg);
      }
      to {
        transform: rotate(360deg) translateX(2px) rotate(-360deg);
      }
    }

    @-moz-keyframes orbit {
      from {
        transform: rotate(0deg) translateX(2px) rotate(0deg);
      }
      to {
        transform: rotate(360deg) translateX(2px) rotate(-360deg);
      }
    }

    @-o-keyframes orbit {
      from {
        transform: rotate(0deg) translateX(2px) rotate(0deg);
      }
      to {
        transform: rotate(360deg) translateX(2px) rotate(-360deg);
      }
    }

    @keyframes orbit {
      from {
        transform: rotate(0deg) translateX(2px) rotate(0deg);
      }
      to {
        transform: rotate(360deg) translateX(2px) rotate(-360deg);
      }
    }

    .medium-price {
      color: #ee3722;
      font-size: 60px;
      margin-bottom: 2rem;
    }

    .range {
      font-size: 10px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .price-range-text {
      font-size: 30px;
      color: #a6a8ab;
      margin-top: 15px;
    }

    .description {
      font-size: 13px;
      margin-top: 15px;
      color: #7f7f7f;
    }
  }

  .bottomImageContainer {
    align-items: center;
    opacity: 1;

    img {
      width: 100%;
      height: 100%;
      max-height: 64px;
      object-fit: contain;
    }

    @media all and (max-width: $mobile-width) {
      .progressive {
        height: 20px;
      }
      .metlife {
        height: 30px;
      }
    }
  }

  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .bottomImageContainer.bounce {
    -webkit-animation: mover 500ms infinite linear;
    animation: mover 500ms infinite linear;
    animation-iteration-count: 1;
  }
}
.address-header {
  border-bottom: 1px solid gray;
  font-size: 1.6rem;
  color: #5a5a5a;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.rounded-circle-pricing {
  width: 12rem;
  height: 12rem;
  background-color: #4265e4 !important;
  color: white;
}

#per_year:hover {
  font-size: 18px;
  cursor: pointer;
}

.rounded-circle-next {
  width: 7rem;
  height: 7rem;
  background-color: #fafafa !important;
  color: #4265e4;
  border: 1px solid;
}

.pricing-contents {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.next-contents {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}

:host ::ng-deep .btn-light {
  color: #4265e4 !important;
  border: 1px solid;
  background-color: #fff !important;
  border-color: #4265e4 !important;
  font-weight: 500;
  text-transform: lowercase;
}

:host ::ng-deep .rounded-circle-next {
  color: #4265e4 !important;
  background-color: #fff !important;
  border-color: #4265e4 !important;
  font-weight: 500;
}

:host ::ng-deep .rounded-circle-next:hover {
  color: #fff !important;
  background-color: #4265e4 !important;
  border-color: #fff !important;
}

#price_table {
  tr > td {
    padding-left: 80px;
    font-size: 18px;
    font-weight: 400;
  }

  @media screen and (max-width: 1200px) {
    tr > td {
      padding-left: 80px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 993px) {
    tr > td {
      padding-left: 40px !important;
      font-size: 14px;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 500px) {
    tr > td {
      padding-left: 20px !important;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

#price_div {
  border-radius: 5%;
  border: 0.5px solid #c7c7c7;
  position: absolute;
  z-index: 1;
  left: calc((100% - 474px) / 2);

  img {
    width: 30%;
  }

  @media screen and (max-width: 1200px) {
    left: calc((100% - 399px) / 2);
  }

  @media screen and (max-width: 993px) {
    left: calc((100% - 295px) / 2);
  }

  @media screen and (max-width: 500px) {
    left: calc((100% - 258px) / 2);
    img {
      width: 60%;
    }
  }
}
