<div class="map-container">
  <agm-map [zoom]="17" [latitude]="lat" [longitude]="lng"> </agm-map>
  <div class="overlay"></div>
</div>
<div class="container animated slideInLeft">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 mr-0 ml-auto pt-5">
      <div class="row">
        <div class="col-10 mr-auto ml-auto">
          <div class="address-header">
            <span class="address-text font-weight-bold" style="font-family: 'Arial Rounded MT Bold'">
              {{ commonService.getAddressData()["address"] }} {{ commonService.getAddressData()["locality"] }}, {{ commonService.getAddressData()["administrative_area_level_1"] }}, {{ commonService.getAddressData()["postal_code"] }}</span
            >
          </div>
          <div class="pt-2" style="text-align: center">coverage for your home</div>
          <div class="d-flex justify-content-center pt-4 mb-3">
            <div class="rounded-circle rounded-circle-pricing pricing-contents" (click)="togglePrice()">
              <div class="col-12 pt-3">
                <h1 class="medium-price text-center font-weight-bold">
                  {{ medium_price | currency: "USD":"symbol":"1.0-0" }}
                </h1>
                <div class="text-center pb-3" id="per_year">PER YEAR</div>
                <div class="text-center"><i class="fas fa-info-circle"></i></div>
              </div>
            </div>
          </div>
          <div class="text-center bg-white w-75 p-3" id="price_div" *ngIf="isShow">
            <div>
              <div class="d-flex">
                <p class="h5 text-muted ml-auto mr-auto"><u>Pricing Breakdown</u></p>
                <p class="text-right text-dark" id="exit_popup" (click)="exitPopup()">X</p>
              </div>

              <table class="w-100 mt-3" id="price_table">
                <tr>
                  <td class="text-muted text-left w-50">Low Price:</td>
                  <td class="text-danger text-left w-50 pl-5">$989</td>
                </tr>
                <tr>
                  <td class="text-muted text-left w-50">High Price:</td>
                  <td class="text-danger text-left w-50 pl-5">$1,677</td>
                </tr>
                <tr>
                  <td class="text-muted text-left w-50">Mean Price:</td>
                  <td class="text-danger text-left w-50 pl-5">$1,445</td>
                </tr>
                <tr>
                  <td class="text-muted text-left w-50">Flood Zone:</td>
                  <td class="text-danger text-left w-50 pl-5">AE</td>
                </tr>
                <tr>
                  <td class="text-muted text-left w-50">Flood Quote:</td>
                  <td class="text-danger text-left w-50 pl-5">$403</td>
                </tr>
              </table>
              <div class="mt-3">
                <img class="" src="../../assets/images/demo-price/progressive.png" />
                <img class="ml-3 mr-3" src="../../assets/images/demo-price/nationwide.png" />
                <img class="" src="../../assets/images/demo-price/allstate.png" />
              </div>
            </div>
          </div>

          <div class="row col-lg-12 col-sm-12 mr-auto ml-auto pt-3">
            <button class="col-lg-4 mr-auto ml-auto col-sm-6 col-xs-12 mb-2 btn btn-light" id="pdf_btn" (click)="download()">download</button>
            <button class="col-lg-4 col-sm-6 ml-auto mr-auto col-xs-12 mb-2 btn btn-light" (click)="send()">email</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!commonService.isMobileMode()" class="col-2 align-self-center" id="nextBtn">
      <div class="d-flex justify-content-end">
        <div class="rounded-circle rounded-circle-next next-contents" (click)="goToThreeStep()">
          <div class="col-12 pb-1">
            <div>
              <i class="fas fa-2x fa-long-arrow-alt-right"></i>
            </div>
            <div>Next</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
