@import '../../../assets/styles/variables';

$font-family: Roboto;
.map-container {
  width: 100%;
  height: 40rem;

  agm-map {
    width: 100%;
    height: 100%;
  }

  .overlay {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    margin-top: -40rem;
    background: linear-gradient(180deg, #fafafa 50%, #fdfdfd 100%);
  }
}

.container {
  font-family: $font-family;
  position: absolute;
  top: 100px;
  z-index: 1020;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  .loader {
    @media screen and (max-width: $mobile-width) {
      padding-top: 50px !important;
    }

    .preloader-wrapper .spinner-red-only {
      border-color: #db4437 !important;
    }
  }

  .bg-white {
    border-radius: 5%;
    opacity: .9;

    .send-btn:hover {
      opacity: 0.8;
    }

    .cost {
      color: #EE3722;
      font-size: 20px;
    }

    .target {
      font-size: 10px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .target-img {
      margin-top: 2px;
      animation: orbit 2s linear infinite;
    }

    @-webkit-keyframes orbit {
      from { transform: rotate(0deg) translateX(2px) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
    }

    @-moz-keyframes orbit {
      from { transform: rotate(0deg) translateX(2px) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
    }

    @-o-keyframes orbit {
      from { transform: rotate(0deg) translateX(2px) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
    }

    @keyframes orbit {
      from { transform: rotate(0deg) translateX(2px) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(2px) rotate(-360deg); }
    }

    .medium-price {
      color: #EE3722;
      font-size: 60px;
      margin-bottom: 2rem;
    }

    .range {
      font-size: 10px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .price-range-text {
      font-size: 30px;
      color: #A6A8AB;
      margin-top: 15px;
    }

    .description {
      font-size: 13px;
      margin-top: 15px;
      color: #7F7F7F;
    }
  }

  .bottomImageContainer {
    align-items: center;
    opacity: 1;

    img {
      width: 100%;
      height: 100%;
      max-height: 64px;
      object-fit: contain;
    }

    @media all and (max-width: $mobile-width) {
      .progressive {
        height: 20px;
      }
      .metlife {
        height: 30px;
      }
    }
  }

  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }

  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .bottomImageContainer.bounce {
    -webkit-animation: mover 500ms infinite  linear;
    animation: mover 500ms infinite  linear;
    animation-iteration-count: 1;
  }
}
.address-header{
  border-bottom: 1px solid gray;
  font-size: 1.6rem;
  color: #5a5a5a;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.rounded-circle-pricing{
  width: 12rem;
  height: 12rem;
  background-color: #4265e4!important;
  color: white;
}

.rounded-circle-next{
  width: 7rem;
  height: 7rem;
  background-color: #fafafa!important;
  color: #4265e4;
}

.pricing-contents{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.next-contents{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  text-align:center;
}

:host ::ng-deep .btn-light {
  color: #4265e4 !important;
  background-color: #fff !important;
  border-color: #4265e4 !important;
  font-weight:500;
  text-transform: lowercase;
}

:host ::ng-deep .rounded-circle-next {
  color: #4265e4 !important;
  background-color: #fff !important;
  border-color: #4265e4 !important;
  font-weight:500;
}

:host ::ng-deep .rounded-circle-next:hover {
  color: #fff !important;
  background-color: #4265e4 !important;
  border-color: #fff !important;
}