@import '../../assets/styles/variables';
.map-container {
    width: 100%;
    height: 570px;
  
    agm-map {
      width: 100%;
      height: 100%;
    }
  
    .overlay {
      width: 100%;
      height: 100%;
      opacity: 0.4;
      margin-top: -570px;
      background: linear-gradient(180deg, #fafafa 50%, #fdfdfd 100%);
    }
  }

  :host ::ng-deep .progress .progress-bar  {
    height:25px !important
  }
  
  :host ::ng-deep mdb-progress .progress {
    height:15px !important
  }

  .loader{
    font-family: Roboto;
    position: absolute;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


// .loader{
//     max-width: 1000px;
//     margin-left: calc((100% - 1000px) / 2) !important;
//     font-family: Roboto;
//     position: absolute;
//     top: 100px;
//     z-index: 1020;
//     margin-left: auto;
//     margin-right: auto;
//     left: 0;
//     right: 0;
// }

.constructionDiv mdb-badge, .basementDiv mdb-badge, .roofDiv mdb-badge {
    border: solid 2px #C8C8C8 !important;
  }

mdb-badge {
        padding: 10px;
        min-width: 100px;
        background-color: #fff !important;
        color: #000 !important;
        box-shadow: none;
        border-radius: 10px;
}

.exteriorDiv > mdb-badge {
    width: 8rem;
    background-color: #fff !important;
    color: #000 !important;
    box-shadow: none;
    border-radius: 10px;
  }

  .container {  
    .form-row {
      margin-top: 25px;
      margin-bottom: 25px;
    }
}  

mdb-badge {
    .btn-icon {
      display: block;
      width: 30px !important;
      margin: 0 auto 10px;
    }
}

.bg-white{
    text-align: center;
    margin-top: 2rem;
    max-width: 100%;
    overflow: hidden;
    border: solid 2px #C8C8C8 !important;
    border-radius: 10px;
    min-height: 36rem !important;
}

.nav-arrow > img{
    width: 12rem;
}


.form-row > div, h1, h4 {
    text-align: left;
}

:host ::ng-deep .exteriorDiv mdb-badge > span {
  margin: 0px !important
}

:host ::ng-deep .exteriorDiv mdb-badge > span > div {
    margin: 0px !important
  }

.exteriorDiv mdb-badge img{
      width:100% !important
  }

  .constructionDiv img {
      width: 6rem !important;
  }
 input[type=text],input[type=number] {
    background-clip: padding-box !important;
    border: 2px solid #5bc0de !important;
    border-radius: 0.5rem !important;
 }

 .carousel-items.exteriorDiv{
     overflow: hidden;
 }

 
mdb-badge.badge-warning {
    background-color: $primary-color !important;
    color: white !important;
  }

/*style for carousel start*/
.carousel {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5em;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // zoom effect on hover
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    border-radius: 0.5em;
  }
  
  .slide:hover {
    transform: scale(1.025);
  }
  
  // =========================
  // Next and Prev buttons
  // =========================
  .control {
    border: none;
    background-color: transparent;
    outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    height: 100%;
    opacity: 80%;
    // opacity effect on hover
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  
    &:hover, &:focus {
      opacity: 1;
    }
  
    /* Position the buttons */
    &.next {
      right: 0;
    }
    &.prev {
      left: 0;
    }
  }
  
  /* style the arrows */
  .arrow {
    display: block;
    border-left: 0.1em solid #c1c1c1;
    border-bottom: 0.1em solid #c1c1c1;
    width: 0.5em;
    height: 0.5em;
  
    &.left {
      transform: rotate(45deg);
    }
    &.right {
      transform: rotate(225deg);
    }
  }
