.info-board{
  .address-text{
    color: #EE3924;
    font-weight: 900;
    font-size: 18px;
  }
  table{
    tr{
      border-bottom: solid 1px #F1F1F3;
      td{
        font-weight: normal;
        font-family: PingFang, sans-serif;
        color: #6E6F70;
        padding: 6px 0;
      }

      .text-right {
        color: #4265e4 ;
      }
    }
  }
}
