.info-board{
  background-color: #FDFBFB;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  .address-text{
    color: #EE3924;
    font-weight: 900;
    font-size: 18px;
  }
  table{
    tr{
      border-bottom: solid 1px #F1F1F3;
      td{
        font-weight: 900;
        color: #6E6F70;
      }
    }
  }
}
