<tr mc:repeatable=item>
    <td style=padding:0 0 27px;>
        <table width=100% cellpadding=0 cellspacing=0>
            <tr>
                <td mc:edit=block_27 valign=middle colspan="2"
                    style=font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;>
                    <h2 style="text-align: center;font: 22px/30px Verdana,Geneva,sans-serif;font-weight:normal;letter-spacing:1px;color:#000;">Your homeowners insurance estimate is attached here.</h2>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr mc:repeatable=item>
    <td style=padding:0 0 27px;>
        <table width=100% cellpadding=0 cellspacing=0>
            <tr>
                <td mc:edit=block_27 valign=middle colspan="2"
                    style=font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;>
                    <img src="https://boom.insure/assets/images/demo-price/range_new.png"
                         style="width: 70px;margin-bottom: 15px;">
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr mc:repeatable=item>
    <td style="padding:0 0 27px;">
        <table width=100% cellpadding=0 cellspacing=0>
            <tr>
                <td mc:edit=block_27 valign=middle
                    style=font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;>
		  <b style="font: 36px/40px Verdana,Geneva,sans-serif;font-weight: bold; color:#aaa;">
		    ${{ prices[0].amount }} - ${{ prices[2].amount}}
		  </b>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr mc:repeatable=item>
    <td style="padding:0 0 27px;">
        <table width=100% cellpadding=0 cellspacing=0>
            <tr>
                <td mc:edit=block_27 valign=top
                    style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
                    <div>call agent now: </div> <span class="color: #E32432; font: 30px/34px Verdana,Geneva,sans-serif; font-weight: bold;">{{ support_phone}}</span>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr mc:repeatable=item>
    <td style="padding:0 0 27px;">
        <table width=100% cellpadding=0 cellspacing=0>
            <tr>
                <td mc:edit=block_27 valign=top
                    style="font:14px/24px Verdana, Geneva, sans-serif; color:#3b434a;">
                    <div>email agent: </div> <span class="color:#e32432; font: 30/34px Verdana,Geneva,sans-serif; font-weight: bold;"> {{ support_email }}</span>
                </td>
            </tr>
        </table>
    </td>
</tr>