<div class="row pb-5" style="align-items: center">
  <div class="col-2 pb-5">
    <img src="../../../assets/images/companies/hippo.png"/>
    <img src="../../../assets/images/companies/travelers%20logo.png"/>
    <img src="../../../assets/images/companies/nationwide_h.png"/>
    <img src="../../../assets/images/companies/metlife_new.jpg"/>
    <img src="../../../assets/images/companies/universal .png"/>
    <img src="../../../assets/images/companies/stillwater_small.png"/>
    <img src="../../../assets/images/companies/progressive%20logo.png"/>
    <img src="../../../assets/images/companies/safeco_insurance_new.png"/>
  </div>
  <div class="col-10">
    <div id="chart">
      <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [stroke]="chartOptions.stroke"
          [colors]="chartOptions.colors"
          [title]="chartOptions.title"
          [subtitle]="chartOptions.subtitle"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [xaxis]="chartOptions.xaxis"
          [tooltip]="chartOptions.tooltip"
      ></apx-chart>
    </div>
    <p class="text-center">continue your quote to get final pricing and bind a policy</p>
  </div>
</div>