/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/font-awesome/css/font-awesome.css";

html {
  position: relative;
}

html,
body {
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  // padding:30px;
  background: #333;
  justify-content: center;

  a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 20px;

    &:hover,
    &.active {
      background: white;
      color: #333;
    }
  }
}

[role="document"].modal-dialog {
  top: 70px;
}

.main {
  min-height: calc(100vh - 290px);

  @include mq($until: tablet) {
    min-height: 100vh;
  }
}

button {
  color: #fff;
}

button,
input {
  border-radius: 10px;
}

.badge-warning {
  border: solid 2px $primary-color;
  color: black;
  border-radius: 10px;
  box-shadow: none;
}

.badge-default {
  border: solid 2px #c8c8c8;
  color: #000;
  box-shadow: none;
  border-radius: 10px;
}

@include mq($until: tablet) {
  .form-group {
    margin-top: 15px;
    margin-bottom: 15px;

    label {
      // margin-bottom: 1rem;
    }
  }
}

.text-danger {
  color: $primary-color;
}

mdb-badge {
  border-radius: 10px;
}

.top-nav-collapse {
  background-color: #fff;
}

@include mq($until: tablet) {
  .navbar {
    background-color: #fff;
  }
}

//span.navbar-toggler-icon {
//  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgba(255, 255, 255, 1)" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
//}

nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-small {
  font-size: 0.95rem;
}
.text-smaller {
  font-size: 0.75rem;
}

.text-black {
  color: #000;
}

.text-pink {
  color: #ea0a3f;
}

.listview {
  .form-row {
    .modal-btns {
      height: auto;
      margin: 0;

      .grid-price-widget {
        display: none;
      }
    }
  }
}

.gridview {
  .form-row {
    .modal-btns {
      .list-price-widget {
        display: none;
      }
    }
  }
}

@include mq($until: tablet) {
  nav {
    .container {
      flex-direction: row-reverse;
    }
  }
}

@include mq($until: tablet) {
  .gridview {
    .modal-btns {
      width: 160px;
    }
  }
}

.swiper-container {
  border-radius: 8px;
}

.fixed-continue {
  display: none;

  /*position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  .swiper-wrapper {
    transform: translate3d(-348px, 0px, 0px);
  }*/
}

@include mq($until: tablet) {
  .fixed-continue {
    display: block;
  }
  app-bar-chart {
    apx-chart > div {
      min-height: 300px;
      .apexcharts-canvas {
        height: 300px;
      }
    }
  }
}

.apexcharts-grid {
  display: none;
}

.apexcharts-xaxis {
  /*  display: none;*/
}

.single-email-row .action-area .sebm-google-map-container {
  width: 90px;
  height: 90px;
}

.single-email-row .progress {
  width: 100px;
}

.batch-page app-address-input:not(:first-of-type) .title {
  display: none;
}

ngb-modal-window {
  margin-top: 50px;
  padding-right: 11px;
}

.navbar-toggler {
  display: none;
}

.info-header {
  .addressSelcted {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    box-shadow: none;
    padding-left: 20px;
    border: 1px solid #ccc;
    overflow: hidden;

    span {
      line-height: 40px;
      color: $gray;
      overflow: hidden;
    }
  }

  @include mq($until: tablet) {
    .col-12 {
      display: none;
    }
  }

  .col-md-2 {
    background-color: #ff2323;
    border-radius: 40px;
    margin-right: 10px;
    margin-left: 10px;
    color: $white;
    line-height: 40px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;

    i {
      line-height: 36px;
      color: white;
      cursor: pointer;
      font-size: 10px;
      transition: all 0.25s ease;

      &:hover {
        font-size: 11px;
      }
    }
  }

  .fa-refresh {
    font-size: 30px;
    color: $gray1;
  }
}

mdb-modal-backdrop {
  display: none;
}
