<app-demo-price-header (sendPdf)="downloadPdf($event)" (sendEmail)="sendEmail($event)"></app-demo-price-header>
<div class="row mt-5 d-flex d-md-none">
  <div class="col-8 offset-2">
    <button class="btn btn-primary mt-2" (click)="goToThreeStep()">next</button>
  </div>
</div>
<div class="container">
  <app-demo-coverage-info></app-demo-coverage-info>
  <div class="row">
    <div class="col-md-5 offset-md-1 pb-5">
      <app-demo-gmap></app-demo-gmap>
    </div>
    <div class="col-md-5 mt-3">
      <app-demo-price-info></app-demo-price-info>
    </div>
  </div>
  <app-demo-page-email-modal #sendPdf [showModal]="showModal" [prices]="prices"></app-demo-page-email-modal>
</div>
