.container {
  margin-top: 100px !important;
  .policyPage{
    margin-bottom: 50px;

    select,input[type=text],input[type=date],input[type=email]{
      background-color: lightgray !important;
      border-radius: 10px !important;
      border: 1px solid lightgray !important;
      text-indent: 10px !important;
    }
    input[type=date]{
      min-height: 26px !important;
    }
  }
}

@media screen and (max-width: 768px){
  .lenderText{
    font-size: 100% !important;
  }
}

